<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>한림대학교 씨애랑 부원 관리</title>
    <link rel="stylesheet" href="../../static/css/footer_reaction.css" th:href="@{/css/footer_reaction.css}">
    <link rel="stylesheet" href="../../static/css/header_reaction.css" th:href="@{/css/header_reaction.css}">
    <link rel="stylesheet" href="../../static/css/add_style.css" th:href="@{/css/add_style.css}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
    <header>
        <div id="header">
            <ul id="header_ul_left">
                <a class="header_ul_left_a" href="https://www.hallym.ac.kr/hallym_univ/"><li class="header_ul_left_li">한림대학교</li></a>
                <a class="header_ul_left_a" href="../index.html" th:href="@{/index}"><li class="header_ul_left_li">HOME</li></a>
            </ul>
            <ul id="header_ul_right">
                <a class="header_ul_right_a" href="https://doggang.github.io/campusmap/campus_map.html">
                    <li class="header_ul_right_li_a">캠퍼스 맵</li>
                </a>
                <li class="header_ul_right_li_a_log" sec:authentication="principal.name">이름</li>
                <li class="header_ul_right_li_a_log" th:if="${#authentication.principal.auth} == 'ROLE_ADMIN,ROLE_USER'">Admin
                </li>
                <li class="header_ul_right_li_a_log" th:if="${#authentication.principal.auth} == 'ROLE_USER'">User</li>
                <a class="header_ul_right_a" href="" th:href="@{/logout}">
                    <li class="header_ul_right_li_a_log">로그아웃</li>
                </a>
            </ul>
        </div>
        <div id="header_box">
            <ul>
                <a href="./index.html" th:href="@{/index}"><img id="head_img" src="../../static/img/logo.jpg"
                        th:src="@{/img/logo.jpg}" alt=""></a>
                <div class="header_title">
                    <a href="../intro.html" th:href="@{/intro}" class="header_title_content">소개글</a>
                    <a href="../notice_board/notice_board_list.html" th:href="@{/notice/board/list}" class="header_title_content">공지사항</a>
                    <a href="../board/board_list.html" th:href="@{/board/list}" class="header_title_content">게시판</a>
                    <a href="./list.html" th:href="@{/member/list}" class="header_title_content"
                        sec:authorize="hasRole('ROLE_ADMIN')">부원관리 </a>
                </div>
                <nav id="navbar">
                    <ul id="main_menu">
                        <li class="navbar_li">
                            <a id="menu_img_wrap" href="#">
                                <img id="menu_img"src="../../static/img/menu.png" th:src="@{/img/menu.png}" alt="">
                            </a>
                            <ul class="snd_menu sub_menu">
                                <ul id="nav_loginbar">
                                    <li><a class="nav_login" href="" sec:authorize="isAuthenticated()"
                                           sec:authentication="principal.name">이름</a></li>
                                    <li><a class="nav_login" href="" th:href="@{/logout}" sec:authorize="isAuthenticated()">로그아웃</a></li>
                                </ul>
                                <li class="navbar_li navbar_li_content">
                                    <a class="navbar_a" href="../intro.html" th:href="@{/intro}">소개글</a>
                                </li>
                                <li class="navbar_li navbar_li_content">
                                    <a class="navbar_a" href="../notice_board/notice_board_list.html" th:href="@{/notice/board/list}">공지사항</a>
                                </li>
                                <li class="navbar_li navbar_li_content">
                                    <a class="navbar_a" href="../board/board_list.html" th:href="@{/board/list}">게시판</a>
                                </li>
                                <li class="navbar_li navbar_li_content">
                                    <a class="navbar_a" href="./list.html" th:href="@{/member/list}" sec:authorize="hasRole('ROLE_ADMIN')">부원관리</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </ul>
        </div>
        <div id="head_gray_layer">
            <ul id="now_place">
                <li class="place_text_li"><a href="../index.html" th:href="@{/index}"><img id="gray_home" src="../../static/img/home.png" th:src="@{/img/home.png}" alt=""></a></li>
                <li class="place_text_li">부원관리</li>
                <li class="place_text_li"><a id="no_place_a" href="./add.html">부원추가</a></li>
            </ul>
        </div>
    </header>

    <section id="section">
        <header id="section_header">
            <div id="section_header_div1">
                <span id="section_header_mange_span1"><img id="section_header_mange_img" src="../../static/img/mange_logo.png" alt="" th:src="@{/img/mange_logo.png}"></span>
                <span id="section_header_mange_span2">부원관리</span>
            </div>
        </header>
        <article id="section_article">
            <div id="member_form">
                <div id="member_form_level">
                    <span id="member_form_level_span">직위&nbsp; &nbsp;</span>
                    <select id="member_form_level_select">
                        <option value="회장" name="position" selected>&nbsp; 회장</option>
                        <option value="부회장" name="position">&nbsp; 부회장</option>
                        <option value="팀장" name="position">&nbsp; 팀장</option>
                        <option value="회원" name="position">&nbsp; 회원</option>
                    </select>
                </div>
                <div id="member_form_table_wrap">
                    <table id="member_form_table">
                        <tr>
                            <td class="member_form_table_title"><span class="member_form_table_title_text">학과 <span class="star">*</span></span></td>
                            <td class="member_form_table_in"><input class="member_form_table_input" type="text" id="department" placeholder=" 학과를 입력하세요." ></td>
                            <td class="member_form_table_title"><span class="member_form_table_title_text">학년 <span class="star">*</span></span></td>
                            <td class="member_form_table_in"><input class="member_form_table_input" id="grade" type="text" placeholder=" 학년을 입력하세요." t></td>
                        </tr>
                        <tr>
                            <td class="member_form_table_title"><span class="member_form_table_title_text">학번 <span class="star">*</span></span></td>
                            <td class="member_form_table_in"><input class="member_form_table_input" id="studentId" type="text" placeholder=" 학번을 입력하세요."></td>
                            <td class="member_form_table_title"><span class="member_form_table_title_text">성명 <span class="star">*</span></span></td>
                            <td class="member_form_table_in"><input class="member_form_table_input" id="memberName" type="text" placeholder=" 성명을 입력하세요." ></td>
                        </tr>
                        <tr>
                            <td class="member_form_table_title"><span id="member_form_table_title_text_id" class="member_form_table_title_text">전화번호 <span class="star">*</span></span></td>
                            <td class="member_form_table_in"><input class="member_form_table_input" id="contact" type="text" placeholder=" 전화번호를 입력하세요." ></td>
                        </tr>
                    </table>
                </div>
                <!--모바일 시작-->
                <div id="mobile_member_form_table_wrap">
                    <div id="mobile_member_info">
                         <div class="mobile_member_form_table_title">
                            <span class="mobile_member_form_table_title_text">학과 
                                <span class="star">*</span>
                            </span>
                        </div>
                        <div class="mobile_member_form_table_in">
                            <input class="mobile_member_form_table_input" type="text" id="mobile_department" placeholder=" 학과를 입력하세요.">
                        </div>
                        <div class="mobile_member_form_table_title">
                            <span class="mobile_member_form_table_title_text">학년 
                                <span class="star">*</span>
                            </span>
                        </div>
                        <div class="mobile_member_form_table_in">
                            <input class="mobile_member_form_table_input" id="mobile_grade" type="text" placeholder=" 학년을 입력하세요.">
                        </div>
                        <div class="mobile_member_form_table_title">
                            <span class="mobile_member_form_table_title_text">학번 
                                <span class="star">*</span>
                            </span>
                        </div>
                        <div class="mobile_member_form_table_in">
                            <input class="mobile_member_form_table_input" id="mobile_studentId" type="text" placeholder=" 학번을 입력하세요." >
                        </div>
                        <div class="mobile_member_form_table_title">
                            <span class="mobile_member_form_table_title_text">성명 
                                <span class="star">*</span>
                            </span>
                        </div>
                        <div class="mobile_member_form_table_in">
                            <input class="mobile_member_form_table_input" id="mobile_memberName" type="text" placeholder=" 성명을 입력하세요.">
                        </div>
                        <div class="mobile_member_form_table_title">
                            <span id="mobile_member_form_table_title_text_id" class="member_form_table_title_text">전화번호 
                                <span class="star">*
                                </span>
                            </span>
                        </div>
                        <div class="mobile_member_form_table_in">
                            <input class="mobile_member_form_table_input" id="mobile_contact" type="text" placeholder=" 전화번호를 입력하세요." >
                        </div>
                    </div>
                </div>
                <!--모바일 끝-->
                <div id="form_btn_wrap">
                    <input id="cancle_btn" class="form_btn" type="button" value="취소" onclick="can();">
                    <input id="member_code" type="hidden" >
                    <button class="form_btn" id="save">추가하기</button>
                    <button class="form_btn" id="mobile_save">추가하기</button>
                </div>
            </div>
        </article>
    </section>
    <footer id="footer">
        <div id="footer_top">
            <ul id="footer_top_ul">
                <li class="footer_top_li">
                    <a href="https://www.hallym.ac.kr/sub07/cP2/tab2">개인정보처리방침</a>
                </li>
                <li class="footer_top_li">
                    <a href="https://was1.hallym.ac.kr:8081/HLMS/main/LoginPage.do">통합정보시스템</a>
                </li>
                <li class="footer_top_li">
                    <a href="https://www.hallym.ac.kr/sub02/cP1/sCP1">학사일정</a>
                </li>
                <li class="footer_top_li">
                    <a href="https://www.hallym.ac.kr/sub07/cP1">주요민원 연락처</a>
                </li>
            </ul>
        </div>
        <div id="footer_bottom">
            <div id="footer_bottom_content_box">
                <img src="../../static/img/img_foot_logo.png" th:src="@{/img/img_foot_logo.png}">
                <div id="content_box_text">
                    <p>한림대학교</p>
                    <p>강원도 춘천시 한림대학길 1 한림대학교 공학관</p>
                    <p>1, Hallymdaehak-gil, Chuncheon-si, Gangwon-do, Republic of Korea</p>
                    <p>Front-End, Dohyun Kim / E-Mail : rlaehgusqp@naver.com</p>
                    <p>Back-End, Juyoung Park / E-mail : okmlnsunok@gmail.com</p>
                    <p>GitHub URL : <a href="https://github.com/CaerangManagement/Club_Management">https://github.com/CaerangManagement/Club_Management</a></p>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="../../static/js/script.js" th:src="@{/js/script.js}"></script>
<script src="../../static/js/member.js" th:src="@{/js/member.js}"></script>
<script src="https://kit.fontawesome.com/55d5c28d52.js" crossorigin="anonymous"></script>
<script src="../../static/js/menu_ano.js" th:src="@{/js/menu_ano.js}"></script>
</html>