*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Noto Sans KR',sans-serif;
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#now_place{
    position: relative;
    float: right;
    list-style-type: none;
    display: flex;
    color: rgb(99, 99, 99);
    height: 30px;
    right: 10%;
    margin-top: 5px;
}
.place_text_li{
    height: 30px;
    line-height: 30px;
}
.place_text_li::before {
    content: "\f105";
    font-family: FontAwesome;
    margin-left: 0.8em;
    margin-right: 0.5em;
}
.place_text_li:first-child::before{
    content: none;
}
#gray_home{
    width: 18px;
    margin-top: 6px;
}
#no_place_a{
    text-decoration: none;
    color: #379994;
}
/*------------section--------------*/
#section{
    padding: 40px 200px 60px 200px;
    margin-bottom: 80px;
}
#section_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
}
#section_article_form{
    width: 84.5%;
}
#section_article_table{
    border-top: 1px solid black;
    margin: 10px 30px 0 0;
    width: 100%;
}
#section_article_table_title_wrap{
    margin-top: -10px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#section_article_table_main_wrap{
    width: 100%;
    height: 412px;
    display: flex;
    justify-content: center;
}
#section_article_table_title{
    width: 100%;
    height: 20px;
    margin-top: 40px;
    border: 1px solid rgb(211, 211, 211);
    padding: 10px;
}
#section_article_table_main{
    padding: 10px;
    width: 100%;
    height: calc(100%-20px);
    resize: none;
    font-family: 'Noto Sans KR',sans-serif;
    border: 1px solid rgb(211, 211, 211);
    font-size: 14px;
}
#section_back_plus_wrap{
    width: 84.5%;
    height: 50px;
    margin-top: 30px;
    text-align: end;
}
#back{
    padding: 6px 9px;
    background-color: #ffffff;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
}
#back:hover{
    cursor: pointer;
}
#save{
    border: none;
    width: 70px;
    height: 31.6px;
    background-color: #03c75a1f;
    color: #009f47;
    border-radius: 5px;
}
#save:hover{
    cursor: pointer;
}
/*------------section reaction-------------*/
@media (max-width: 1024px){
    .place_text_li{
        height: 30px;
        line-height: 20px;
        font-size: 13.5px;
    }
    #gray_home{
        width: 14px;
        margin-top: 3px;
    }
}
@media (max-width: 768px){
    #section{
        position: relative;
        top: -20px;
        padding: 40px 0px 0px 0px;
        flex: 1;
    }
    #section_header_mange_img{
        width: 30px;
    }
    #section_header_mange_span2{
        line-height: 60px;
        width: 150px;
        font-style: italic;
        font-size: 23px;
        font-weight: 800;
        color: rgb(32, 32, 32);
    }
}