*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Noto Sans KR',sans-serif;
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*------------section--------------*/
#section{
    padding: 40px 200px 60px 200px;
}
#section_article{
    display: flex;
    justify-content: center;
}
#section_article_wrap{  
    width: 84.5%;
}
#section_article_plus_minus{
    display: flex;
    justify-content: end;
    position: relative;
    left: 60px;
    padding-bottom: 10px;
}
#section_article_modify{
    text-decoration: none;
    color: rgb(83, 83, 83);
    font-size: 13px;
    margin-right: 5px;
}
#section_article_delete{
    border: none;
    background-color: white;
    color: rgb(83, 83, 83);
    font-size: 13px;
}
#section_article_delete:hover{
    cursor: pointer;
}
#section_article_table{
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    padding: 30px 30px;
    width: 100%;
}
#section_article_table_title_wrap{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}
#section_article_table_title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 26px;
}
#section_article_table_writer_wrap{
    width: 100%;
    height: 36px;
    background-color: white;
    display: flex;
    margin: 20px 0;
}
#section_article_table_writer_img{
    width: 38px;
}
#section_article_table_who_wrap{
    display: flex;
    flex-direction: column;
}
#section_article_table_writer_name{
    margin-left: 4px;
    font-size: 13px;
    font-weight: 700;
}
#section_article_table_time_wrap{
    display: flex;
    font-size: 12px;
    width: 200px;
    text-align: center;
    color: rgb(83, 83, 83);
    margin-left: 4px;
    margin-top: 2px;
}
#section_article_table_main_wrap{
    width: 100%;
    height: 412px;
}
#section_article_table_main{
    width: 100%;
    height: 400px;
    font-size: 15px;
    padding-top: 20px;
    border-top: 1px solid rgb(211, 211, 211);
}
#section_article_table_time{

}
#section_article_table_view{
    margin-left: 4px;
}
#section_article_table_view_text{
margin-left: 4px;
}

#section_article_comment{
    border-top: 1px solid rgb(211, 211, 211);
}
#section_article_comment_title{
    font-weight: 700;
    margin-top: 10px;
}
.comment_wrap{
    height: 100%;
    background-color: white;
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.comment_writer_img{
    width: 38px;
}
.comment_writer{
    display: flex;
    flex-direction: column;
}
.comment_writer_name{
    margin-left: 4px;
    font-size: 13px;
    font-weight: 700;
}
.comment_content{
    display: flex;
    font-size: 13px;
    width: 100%;
    color: rgb(83, 83, 83);
    margin-left: 4px;
    margin-top: 1px;
}
.comment_delete_div{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-top: 5px;
}
.comment_write_time{
    display: flex;
    font-size: 11px;
    width: 200px;
    text-align: center;
    color: rgb(106, 106, 106);

}
.comment_delete{
    border: none;
    background-color: white;
    color: rgb(106, 106, 106);
    font-size: 11px;
    margin-right: 9px;
}
.comment_delete:hover{
    cursor: pointer;
}
/*------------section reaction-------------*/
@media (max-width: 768px){
    #section{
        position: relative;
        top: -20px;
        padding: 40px 0px 0px 0px;
        flex: 1;
    }
    #section_header_mange_img{
        width: 30px;
    }
    #section_header_mange_span2{
        line-height: 60px;
        width: 150px;
        font-style: italic;
        font-size: 23px;
        font-weight: 800;
        color: rgb(32, 32, 32);
    }
}