*{
    padding: 0;
    margin: 0;
}
#now_place{
    position: relative;
    float: right;
    list-style-type: none;
    display: flex;
    color: rgb(99, 99, 99);
    height: 30px;
    right: 10%;
    margin-top: 5px;
}
.place_text_li{
    height: 30px;
    line-height: 30px;
}
.place_text_li::before {
    content: "\f105";
    font-family: FontAwesome;
    margin-left: 0.8em;
    margin-right: 0.5em;
}
.place_text_li:first-child::before{
    content: none;
}
#gray_home{
    width: 18px;
    margin-top: 6px;
}
#no_place_a{
    text-decoration: none;
    color: #093555;
    font-weight: 700;
}
.header_title{
    position: absolute;
    width: auto;
    top: 68px;
    right: 7%;
    display: flex;
}
.header_title_content{
    font-size: 27px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 20px;
    border-right: 2px solid rgb(204, 204, 204);
    width: auto;
}
.header_title_content:last-child{
    border-right: none;
}
/*-------------------------section--------------------------*/
section{
    margin-bottom: 200px;
}
#section_article{
    display: flex;
    justify-content: center;
}
/*---------------------------slide--------------------------*/

.slider_content{
    height: 400px;
    width: 100%;
}


/*-------------------notice-------------------------*/
#notice_wrap{
    width: 450px;
}
#notice{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 3px solid rgb(0, 0, 0);
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
#notice_main{
    width: 100%;
}
#notice_plus{
    color: rgb(204, 204, 204);
    position: absolute;
    right: 0;
    font-size: 40px;
    line-height: 28px;
    text-decoration: none;
    font-weight: lighter;
}
.notice_content{
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    font-size: 17px;
}
.notice_content:hover{
    cursor: pointer;
    color: #103f61;
    transition-duration: 0.3s;
}
#notice_title{
    width: 80%;
}
.notice_day{
    color: rgb(155, 155, 155);

}
/*---------------------board--------------------------*/
#section_wrap{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.section_content{
    padding: 0 20px;
}
#board_wrap{
    width: 450px;
}
#board{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 3px solid rgb(0, 0, 0);
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
#board_main{    
    width: 100%;
}
#board_plus{
    color: rgb(204, 204, 204);
    position: absolute;
    right: 0;
    font-size: 40px;
    line-height: 28px;
    text-decoration: none;
    font-weight: lighter;
}
.board_content{
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    font-size: 17px;
}
.board_content:hover{
    cursor: pointer;
    color: #103f61;
    transition-duration: 0.3s;
}
.board_title{
width: 80%;
}
.board_day{
    color: rgb(155, 155, 155);
}
/*----------------member----------------------*/
#member_wrap{
    width: 450px;
}
#member{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 3px solid rgb(0, 0, 0);
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
#member_main{
    width: 100%;
}
#member_plus{
    color: rgb(204, 204, 204);
    position: absolute;
    right: 0;
    font-size: 40px;
    line-height: 28px;
    text-decoration: none;
    font-weight: lighter;
}
.member_content{
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    font-size: 17px;
}
.member_content:hover{
    cursor: pointer;
    color: #103f61;
    transition-duration: 0.3s;
}
.member_name{

}
.member_info_box{
    display: flex;
}
.member_major{
padding-right: 20px;
}
.member_level{

}

/*footer_banner*/
.footer_banner{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
    margin-bottom: 50px;
}
#banner_wrap{
    width: 900px;
    height: 68.75px;
    padding: 30px 60px 17px;
    border: 1px solid rgb(237, 236, 236);
    display: flex;
    justify-content: center;
}
#slider-div{
    width: 740px;
}
.banner_img{
}
/*-----------footer--------------*/
