*{
    padding: 0;
    margin: 0;
}
#now_place{
    position: relative;
    float: right;
    list-style-type: none;
    display: flex;
    color: rgb(99, 99, 99);
    height: 30px;
    right: 10%;
    margin-top: 5px;
}
.place_text_li{
    height: 30px;
    line-height: 30px;
}
.place_text_li::before {
    content: "\f105";
    font-family: FontAwesome;
    margin-left: 0.8em;
    margin-right: 0.5em;
}
.place_text_li:first-child::before{
    content: none;
}
#gray_home{
    width: 18px;
    margin-top: 6px;
}
#no_place_a{
    text-decoration: none;
    color: #093555;
    font-weight: 700;
}
.header_title{
    position: absolute;
    width: 280px;
    top: 68px;
    right: 11%;
}
.header_title_content{
    font-size: 27px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 20px;
}
.header_title_content:last-child{
    border-left: 2px solid rgb(204, 204, 204);
}
/*-------------------------section--------------------------*/
section{
    margin-bottom: 200px;
}
#section_article{
    display: flex;
    justify-content: center;
}
/*---------------------------slide--------------------------*/

.slider_content{
    height: 400px;
    width: 100%;
}

/*---------------------board--------------------------*/
#section_wrap{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly
}
#board_wrap{
width: 30%;
}
#board{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 3px solid rgb(0, 0, 0);
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
#board_main{    
    width: 100%;
}
#board_plus{
    color: rgb(204, 204, 204);
    position: absolute;
    right: 0;
    font-size: 40px;
    line-height: 28px;
    text-decoration: none;
    font-weight: lighter;
}
.board_content{
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    font-size: 17px;
}
.board_title{
width: 80%;
}
.board_day{
    color: rgb(155, 155, 155);
}
/*-------------------notice-------------------------*/
#notice_wrap{
    width: 30%;
}
#notice{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 3px solid rgb(0, 0, 0);
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
#notice_main{
    width: 100%;
}
#notice_plus{
    color: rgb(204, 204, 204);
    position: absolute;
    right: 0;
    font-size: 40px;
    line-height: 28px;
    text-decoration: none;
    font-weight: lighter;
}
.notice_content{
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    font-size: 17px;
}
#notice_title{
    width: 80%;
}
.notice_day{
    color: rgb(155, 155, 155);

}
/*----------------member----------------------*/
#member_wrap{
    width: 30%;
}
#member{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 3px solid rgb(0, 0, 0);
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
#member_main{
    width: 100%;
}
#member_plus{
    color: rgb(204, 204, 204);
    position: absolute;
    right: 0;
    font-size: 40px;
    line-height: 28px;
    text-decoration: none;
    font-weight: lighter;
}
.member_content{
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    font-size: 17px;
}
.member_name{

}
.member_info_box{
    display: flex;
}
.member_major{
padding-right: 20px;
}
.member_level{

}