<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>한림대학교 씨애랑 홈페이지</title>

    <link rel="stylesheet" href="../static/css/footer_reaction.css" th:href="@{/css/footer_reaction.css}">
    <link rel="stylesheet" href="../static/css/header_reaction.css" th:href="@{/css/header_reaction.css}">
    <link rel="stylesheet" href="../static/css/index_style.css" th:href="@{/css/index_style.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>


</head>

<body>
    <header>
        <div id="header">
            <ul id="header_ul_left">
                <a class="header_ul_left_a" href="https://www.hallym.ac.kr/hallym_univ/">
                    <li class="header_ul_left_li">한림대학교</li>
                </a>
                <a class="header_ul_left_a" href="./index.html">
                    <li class="header_ul_left_li">HOME</li>
                </a>
            </ul>
            <ul id="header_ul_right">
                <a class="header_ul_right_a" href="https://doggang.github.io/campusmap/campus_map.html">
                    <li class="header_ul_right_li_a">캠퍼스 맵</li>
                </a>
                <a class="header_ul_right_a" href="">
                    <li class="header_ul_right_li_a_log">로그인</li>
                </a>
                <a class="header_ul_right_a" href="">
                    <li class="header_ul_right_li_a_log">로그아웃</li>
                </a>
            </ul>
        </div>
        <div id="header_box">
            <ul>
                <a href="./index.html" th:href="@{/index}"><img id="head_img" src="../static/img/logo.jpg"
                        th:src="@{/img/logo.jpg}" alt=""></a>
                <div class="header_title">
                    <a href="./board/board_list.html" class="header_title_content">게시글</a>
                    <a href="./member/list.html" class="header_title_content">부원관리 </a>
                </div>
            </ul>
        </div>
        <div id="head_gray_layer">
            <ul id="now_place">
                <li class="place_text_li"><a href="./index.html" th:href="@{/index}"><img id="gray_home"
                            src="../static/img/home.png" th:src="@{/img/home.png}" alt=""></a></li>
                <li class="place_text_li"><a href="" id="no_place_a">씨애랑 홈</a></li>
            </ul>
        </div>
    </header>

    <section>
        <!--<article id="section_article">
            <div id="slide_wrap">
                <div class="silde_content">

                </div>
                <div class="silde_content">

                </div>
                <div class="silde_content">
                    
                </div>
            </div>
        </article>-->
        <ul class="bxslider">
            <li>
                <img src="../static/img/blog.png" alt="">
            </li>
            <li>
                <img src="../static/img/facebook.png" alt="">
            </li>
            <li>
                <img src="../static/img/hallym_icon.png" alt="">
            </li>
        </ul>
        <div id="section_wrap">
            <div id="notice_wrap">
                <div id="notice">공지사항</div>
                <div id="notice_content">
                    <div id="notice_title">응애!! 나 안할래!!</div>
                    <div id="notice_name_box">
                        <div id="notice_name">김도현</div>
                        <div id="notice_view">
                            <span id="notice_view_title">조회</span>
                            <span id="notice_view">283</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="board_wrap">
                <div id="board">게시판</div>
                <div id="board_content">
                    <div id="board_title">응애!! 나 안할래!!</div>
                    <div id="board_name_box">
                        <div id="board_name">김도현</div>
                        <div id="board_view">
                            <span id="board_view_title">조회</span>
                            <span id="board_view">283</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="member_wrap">
                <div id="member">부원관리</div>
                <div id="member_content">
                    <div id="member_name">김도현</div>
                    <div id="member_info_box">
                        <div id="member_major">소프트웨어융합대학</div>
                        <div id="member_level">회장</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div id="footer_top">
            <ul id="footer_top_ul">
                <li class="footer_top_li">
                    <a href="https://www.hallym.ac.kr/sub07/cP2/tab2">개인정보처리방침</a>
                </li>
                <li class="footer_top_li">
                    <a href="https://was1.hallym.ac.kr:8081/HLMS/main/LoginPage.do">통합정보시스템</a>
                </li>
                <li class="footer_top_li">
                    <a href="https://www.hallym.ac.kr/sub02/cP1/sCP1">학사일정</a>
                </li>
                <li class="footer_top_li">
                    <a href="https://www.hallym.ac.kr/sub07/cP1">주요민원 연락처</a>
                </li>
            </ul>
        </div>
        <div id="footer_bottom">
            <div id="footer_bottom_content_box">
                <img src="../static/img/img_foot_logo.png" th:src="@{/img/img_foot_logo.png}">
                <div id="content_box_text">
                    <p>한림대학교</p>
                    <p>강원도 춘천시 한림대학길 1 한림대학교 공학관</p>
                    <p>1, Hallymdaehak-gil, Chuncheon-si, Gangwon-do, Republic of Korea</p>
                    <p>Front-End, Dohyun Kim / E-Mail : rlaehgusqp@naver.com</p>
                    <p>Back-End, Juyoung Park / E-mail : okmlnsunok@gmail.com</p>
                    <p>GitHub URL : <a
                            href="https://github.com/CaerangManagement/Club_Management">https://github.com/CaerangManagement/Club_Management</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="https://kit.fontawesome.com/55d5c28d52.js" crossorigin="anonymous"></script>
<script src="../static/js/index_slide.js" th:src="@{/js/index_slide.js}"></script>

</html>