<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>한림대학교 씨애랑 부원 관리</title>
    <link rel="stylesheet" href="../static/css/footer_reaction.css" th:href="@{/css/footer_reaction.css}">
    <link rel="stylesheet" href="../static/css/header_reaction.css" th:href="@{/css/header_reaction.css}">
    <link rel="stylesheet" href="../static/css/intro_style.css" th:href="@{/css/intro_style.css}">
    <link rel="stylesheet" href="../static/css/disabled.css" th:href="@{/css/disabled.css}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
<header>
    <div id="header">
        <ul id="header_ul_left">
            <a class="header_ul_left_a" href="https://www.hallym.ac.kr/hallym_univ/">
                <li class="header_ul_left_li">한림대학교</li>
            </a>
            <a class="header_ul_left_a" href="./index.html" th:href="@{/index}">
                <li class="header_ul_left_li">HOME</li>
            </a>
        </ul>
        <ul id="header_ul_right">
            <a class="header_ul_right_a" href="https://doggang.github.io/campusmap/campus_map.html">
                <li class="header_ul_right_li_a">캠퍼스 맵</li>
            </a>
            <a class="header_ul_right_a" href="./login.html" sec:authorize="!isAuthenticated()" th:href="@{/login}">
                <li class="header_ul_right_li_a_log">로그인</li>
            </a>
            <a class="header_ul_right_a" href="./signup.html" sec:authorize="!isAuthenticated()"
               th:href="@{/signup}">
                <li class="header_ul_right_li_a_log">회원가입</li>
            </a>
            <div class="header_ul_right_a" href="" sec:authorize="isAuthenticated()">
                <li id="header_name" class="header_ul_right_li_a_log" sec:authorize="isAuthenticated()"
                    sec:authentication="name">김도현</li>
            </div>
            <a class="header_ul_right_a" href="" sec:authorize="isAuthenticated()" th:href="@{/logout}">
                <li class="header_ul_right_li_a_log">로그아웃</li>
            </a>
        </ul>
    </div>
    <div id="header_box">
        <ul>
            <a href="./index.html" th:href="@{/index}"><img id="head_img" src="../static/img/logo.jpg"
                                                            th:src="@{/img/logo.jpg}" alt=""></a>
            <div class="header_title">
                <a href="./intro.html" th:href="@{/intro}" class="header_title_content">소개글</a>
                <a href="./notice_board/notice_board_list.html" th:href="@{/notice/board/list}"
                   class="header_title_content">공지사항</a>
                <a href="./board/board_list.html" th:href="@{/board/list}" class="header_title_content">게시판</a>
                <a href="./member/list.html" th:href="@{/member/list}" class="header_title_content"
                   sec:authorize="hasRole('ROLE_ADMIN')">부원관리 </a>
            </div>

            <nav id="navbar">
                <ul id="main_menu">
                    <li class="navbar_li">
                        <a id="menu_img_wrap" href="#">
                            <img id="menu_img"src="../static/img/menu.png" th:src="@{/img/menu.png}" alt="">
                        </a>
                        <ul class="snd_menu sub_menu">
                            <ul id="nav_loginbar">
                                <li sec:authorize="isAnonymous()"><a class="nav_login" href="" th:href="@{/login}" >로그인</a></li>
                                <li sec:authorize="isAnonymous()"><a class="nav_login" href="" th:href="@{/signup}" >회원가입</a></li>
                                <li id="navNameWrap"><a id="navName" class="nav_login" href="" sec:authentication="name" >rlaehgusqp@naver.com</a></li>
                                <li id="navLogoutWrap"><a class="nav_login" href="" th:href="@{/logout}"  >로그아웃</a></li>
                            </ul>
                            <li class="navbar_li navbar_li_content">
                                <a class="navbar_a" href="./intro.html" th:href="@{/intro}">소개글</a>
                            </li>
                            <li class="navbar_li navbar_li_content">
                                <a class="navbar_a" href="./notice_board/notice_board_list.html" th:href="@{/notice/board/list}">공지사항</a>
                            </li>
                            <li class="navbar_li navbar_li_content">
                                <a class="navbar_a" href="./board/board_list.html" th:href="@{/board/list}">게시판</a>
                            </li>
                            <li class="navbar_li navbar_li_content">
                                <a class="navbar_a" href="./member/list.html" th:href="@{/member/list}" sec:authorize="hasRole('ROLE_ADMIN')">부원관리</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </ul>
    </div>
    <div id="head_gray_layer">
        <ul id="now_place">
            <li class="place_text_li"><a href="./index.html" th:href="@{/index}"><img id="gray_home"
                                                                                      src="../static/img/home.png"
                                                                                      th:src="@{/img/home.png}" alt=""></a>
            </li>
            <li class="place_text_li"><a id="no_place_a" href="">소개글</a></li>
        </ul>
    </div>
</header>

<section>
    <div id="intro_wrap">
        <div class="team_wrap">
            <div class="team_name">C.愛.랑(씨애랑)</div>
            <div class="team_content">
                1992년부터 이어져 온 유서 깊은 동아리로써 씨는 Computer 愛는 사랑애, 
                랑은 순우리말로 모임이라는 뜻으로, 컴퓨터를 사랑하는 사람들이 만든 모임이라는 뜻을 가지고 있습니다.                    현재 C.愛.랑은 라떼, 라온, 코어, 태그, 텐서 총 5개의 팀으로 구성되어 있습니다.<br><br><br>
                수상이력<br>
                - 2018 한림대학교 SW융합대학 SW동아리 컨테스트 금상, 해커톤 대상<br>
                - 2017 한림대학교 공과대학 학술제 우수 학술 동아리, 학술제 개인 및 단체분야 1위<br>
                - 2017 창의·융합 캡스톤디자인 경진대회 금상<br>
                - 2017 대기만성 인사만사 캡스톤디자인 경진대회 은상<br>
                - 2015 한림대학교 공과대학 학술제 우수동이리, 학술제 단체부문 우수상<br>
                - 2015 한림대학교 창업경진대회 대상, 캡스톤 디자인 경진대회 금상<br>
                - 2013 강원도 대학생 창업경진대회 우수상, 장려상<br>
                - 2012 강원도 대학생 창업 경진대회 최우수상<br>
                - 2011 LG Smart TV App idea 부분 동상
            </div>
        </div>
        <div class="team_wrap">
            <div class="team_name">라온</div>
            <div class="team_content">
                씨애랑의 게임 개발 팀입니다. 주로 Unity 3D를 배우며 게임프로젝트 제작을 목표로 합니다. 학습 내용은
                C언어와 Unity3D 입니다. 교내 ‘VR/AR 게임제작기초’ 수업과 병행하면 매우 좋습니다.
            </div>
        </div>
        <div class="team_wrap">
            <div class="team_name">라떼</div>
            <div class="team_content">
                씨애랑의 모바일 앱 개발 팀입니다. 현재는 안드로이드 스튜디오를 주로 배우며 여건이 된다면 Swift교육까지 확장해볼 계획입니다.
                APP 개발을 목표로 하며 학습 내용은 JAVA와 안드로이드 스튜디오 입니다. 교내 ‘모바일 프로그래밍’ 수업과 병행하면 매우 좋습니다.
            </div>
        </div>
        <div class="team_wrap">
            <div class="team_name">코어</div>
            <div class="team_content">
                씨애랑의 아두이노 팀입니다. 주로 아두이노를 배우며 아두이노를 이용한 최종 프로젝트 제작을 목표로 합니다.
                학습 내용은 아두이노 및 센서 이론입니다. 교내 ‘임베디드 프로그래밍’수업과 병행하면 매우 좋습니다.
            </div>
        </div>
        <div class="team_wrap">
            <div class="team_name">태그</div>
            <div class="team_content">
                씨애랑의 웹 개발 팀입니다. 크게 프론트엔드와 백엔드로 나누어지고 공통적으로 HTML과 자바스크립트를 배우며 최종 웹 사이트 제작을 목표로 합니다.
                Front-End 주된 학습 내용은 HTML, JavaScript, CSS 입니다. Back-End는 Spring-Boot를 기반으로 학습합니다.‘웹 프로그래밍, 웹 프레임워크, 웹 서버 구축’ 수업과 병행하면 좋습니다.
            </div>
        </div>
        <div class="team_wrap">
            <div class="team_name">텐서</div>
            <div class="team_content">
                씨애랑의 AI 개발 팀입니다. 머신러닝과 딥러닝을 배우며 AI모델을 이용한 프로젝트 제작을 목표로 합니다.
                학습 내용은 Python, 머신러닝, 딥러닝이며 교내 ‘딥러닝 기초’, ‘머신러닝’, ‘자연어 처리’, ‘영상처리와 딥러닝’ 수업과 병행하면 매우 좋습니다.
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div id="footer_top">
        <ul id="footer_top_ul">
            <li class="footer_top_li">
                <a href="https://www.hallym.ac.kr/sub07/cP2/tab2">개인정보처리방침</a>
            </li>
            <li class="footer_top_li">
                <a href="https://was1.hallym.ac.kr:8081/HLMS/main/LoginPage.do">통합정보시스템</a>
            </li>
            <li class="footer_top_li">
                <a href="https://www.hallym.ac.kr/sub02/cP1/sCP1">학사일정</a>
            </li>
            <li class="footer_top_li">
                <a href="https://www.hallym.ac.kr/sub07/cP1">주요민원 연락처</a>
            </li>
        </ul>
    </div>
    <div id="footer_bottom">
        <div id="footer_bottom_content_box">
            <img src="../static/img/img_foot_logo.png" th:src="@{/img/img_foot_logo.png}">
            <div id="content_box_text">
                <p class="footer_info">한림대학교</p>
                <p class="footer_info">강원도 춘천시 한림대학길 1 한림대학교 공학관</p>
                <p class="footer_info">1, Hallymdaehak-gil, Chuncheon-si, Gangwon-do, Republic of Korea</p>
                <p class="footer_info">Front-End, Dohyun Kim / E-Mail : rlaehgusqp@naver.com</p>
                <p class="footer_info">Back-End, Juyoung Park / E-mail : okmlnsunok@gmail.com</p>
                <p class="footer_info">GitHub URL : <a
                        href="https://github.com/CaerangManagement/Club_Management">https://github.com/CaerangManagement/Club_Management</a>
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
<script type="text/javascript" th:inline="javascript">
    var boardView = function (seq) {
        window.open("/notice/board/" + seq, '_self');
    }

</script>
<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
<script src="../static/js/noticeBoard.js" th:src="@{/js/noticeBoard.js}"></script>
<script src="https://kit.fontawesome.com/55d5c28d52.js" crossorigin="anonymous"></script>
<script src="../static/js/menu.js" th:src="@{/js/menu.js}"></script>

</html>